@use '../abstract' as *;

.button {
  --private-text-color: var(--color-neutral-0);
  --private-button-color: var(--color-primary);
  --private-border-color: var(--color-primary);

  @include trim;

  display: block;
  width: fit-content;
  height: px-to-rem(52);
  padding: 0 25px;
  border: solid 2px var(--private-border-color);
  border-radius: px-to-rem(26);
  background-color: var(--private-button-color);
  color: var(--private-text-color);
  cursor: pointer;
  font-size: px-to-rem(16);
  line-height: 1;

  &:is(:hover, :focus) {
    &:where(:not(:disabled)) {
      --private-button-color: var(--color-primary-hover);
      --private-border-color: var(--color-primary-hover);
    }
  }

  &:disabled {
    cursor: unset;
    filter: grayscale(1);
    opacity: 0.3;
  }

  &.is-secondary {
    --private-button-color: var(--color-neutral-0);
    --private-text-color: var(--color-primary);

    &:is(:hover, :focus) {
      &:where(:not(:disabled)) {
        --private-text-color: var(--color-primary-hover);
        --private-border-color: var(--color-primary-hover);
      }
    }
  }
}
